<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/js/script.js"> </script>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="container">
      <h2>To Do List</h2>
      
      <h3>Tarefa:</h3>
      <input type="text" id="task">
      <input type="button" value="Adicionar" onclick="addTaskToDoList()">
      <input type="button" value="Listar" onclick="listToDoList('<%= list %>')">

      <div id="toDoList"> </div>
    </div>  
  </body>
</html>
