<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="/js/script.js"> </script>
    <script type="text/javascript">
      window.onload = function () {
        listToDoList('<%= list %>')
      }
    </script>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="container">
      <h2>To Do List</h2>
      
      <h3>Tarefa:</h3>
      <input type="text" id="task">
      <input type="button" value="Adicionar" id="add" onclick="addTaskToDoList()">

      <br><br>

      <div id="list"> </div>
    </div>  
  </body>
</html>
